<!DOCTYPE html>
<!--
    ustora by freshdesignweb.com
    Twitter: https://twitter.com/freshdesignweb
    URL: https://www.freshdesignweb.com/ustora/
-->
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ustora Demo</title>

    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    @Styles.Render("~/Assets/Customer/css/bootstrap.min.css")
    <link href="~/Assets/Admin/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" />

    <!-- Font Awesome -->
    @Styles.Render("~/Content/font-awesome.min.css")

    <!-- Custom CSS -->
    @Styles.Render("~/Assets/Customer/css/owl.carousel.css")
    @Styles.Render("~/Assets/Customer/style.css")
    @Styles.Render("~/Assets/Customer/css/responsive.css")


</head>
<body>

    <div class="header-area">
        @Html.Partial("Header");
    </div> <!-- End header area -->

    <div class="site-branding-area">
        @Html.Partial("Site_Branding");
    </div> <!-- End site branding area -->

    <div class="mainmenu-area">
        @Html.Partial("Mainmenu");
    </div> <!-- End mainmenu area -->

    <div class="slider-area">
        <!-- Slider -->
        @Html.Partial("Slider");
        <!-- ./Slider -->
    </div> <!-- End slider area -->

    <div class="promo-area">
        @Html.Partial("Promo");
    </div> <!-- End promo area -->

    <div class="maincontent-area">
        @RenderBody();
    </div> <!-- End main content area -->

    <div class="brands-area">
        @Html.Partial("Brand");
    </div> <!-- End brands area -->

    <div class="product-widget-area">
        @Html.Partial("Product_Widget");
    </div> <!-- End product widget area -->

    <div class="footer-top-area">
        @Html.Partial("Footer_Top");
    </div> <!-- End footer top area -->

    <div class="footer-bottom-area">
        @Html.Partial("Footer_Bottom");
    </div> <!-- End footer bottom area -->
    <!-- Latest jQuery form server -->
    <script src="https://code.jquery.com/jquery.min.js"></script>

    <!-- Bootstrap JS form CDN -->
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    <!-- jQuery sticky menu -->
    @Scripts.Render("~/Assets/Customer/js/owl.carousel.min.js")
    @Scripts.Render("~/Assets/Customer/js/jquery.sticky.js")

    <!-- jQuery easing -->
    @Scripts.Render("~/Assets/Customer/js/jquery.easing.1.3.min.js")

    <!-- Main Script -->
    @Scripts.Render("~/Assets/Customer/js/main.js")

    <!-- Slider -->
    @Scripts.Render("~/Assets/Customer/js/bxslider.min.js")
    @Scripts.Render("~/Assets/Customer/js/script.slider.js")
</body>
</html>

