@model bandienthoai.Entities.SanPham

@{
    ViewBag.Title = "CreateSP";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
    string urlImg = "~/Assets/Admin/img/imgSP/product-6.jpg";
}

@using (Html.BeginForm())
{

    <div class="signup-container">
        <h1>Tạo sản phẩm</h1>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.TenSP)
            @Html.EditorFor(model => model.TenSP, new { htmlAttributes = new { placeholder = "Nhập tên sản phẩm", @class = "input-signup" } })
            @Html.ValidationMessageFor(model => model.TenSP, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MoTa)
            @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { placeholder = "Nhập mô tả", @class = "input-signup" } })
            @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MaNCC, "MaNCC", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("MaNCC", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.MaNCC, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
        @Html.LabelFor(model => model.MaNSX, "MaNSX", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("MaNSX", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MaNSX, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DonGia)
            @Html.EditorFor(model => model.DonGia, new { htmlAttributes = new { placeholder = "Nhập đơn giá", @class = "input-signup" } })
            @Html.ValidationMessageFor(model => model.DonGia, "", new { @class = "text-danger" })
        </div>

        @*<div class="col-md-6">
            <div class="form-group">
                @Html.LabelFor(model => model.UploadHinhAnh, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <img src="@Url.Content(urlImg)" style="margin:10px; border:2px solid #676565;" height="200" width="300" id="imagePreview" />
                    <input type="file" name="UploadHinhAnh" accept="image/jpeg, image/png, image/jpg" onchange="ShowImagePreview(this, document.getElementById('imagePreview'))" />
                </div>
            </div>
        </div>*@


        <button type="submit" class="signupbtn">Tạo mới</button>

    </div>
}

<script>
    function ShowImagePreview(imageUploader, previewImage) {
        if (imageUploader.files && imageUploader.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $(previewImage).attr('src', e.target.result);
            }
            reader.readAsDataURL(imageUploader.files[0]);
        }
    }

</script>


<style>
    .signup-container {
        width: 980px;
        margin: auto;
        margin: 10px auto;
        padding: 10px;
        border: 1px solid #ccc;
        overflow: hidden;
        position: relative;
    }

        .signup-container h1 {
            margin-bottom: 25px;
        }

    .input-signup {
        width: 100%;
        padding: 15px;
        /*margin: 5px 0 22px 0;*/
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }

        .input-signup:focus {
            background-color: #ddd;
            outline: none;
        }

    .birth-of-date {
        margin-bottom: 20px;
    }
    /* Set a style for all buttons */
    .signupbtn {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 20px auto;
        border: none;
        cursor: pointer;
        width: 100%;
        opacity: 0.9;
        width: 50%;
        display: table;
    }

        .signupbtn:hover {
            opacity: 1;
        }
</style>






