@model IEnumerable<bandienthoai.Entities.NguoiDung>
@{
    ViewBag.Title = "AllProfile";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Danh sách người dùng</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Tài khoản</th>
                            <th>Họ tên</th>
                            <th>Địa chỉ</th>
                            <th>Số điện thoại</th>
                            <th>Email</th>
                            <th>Giới tính</th>
                            <th>Ngày sinh</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var a in Model)
                        {
                            string ngaysinh = a.NgaySinh.ToString("dd/MM/yyyy");
                            <tr>
                                <td>@a.TaiKhoan</td>
                                <td>@a.HoTen</td>
                                <td>@a.DiaChi</td>
                                <td>@a.SDT</td>
                                <td>@a.Email</td>
                                <td>@a.GioiTinh</td>
                                <td>@ngaysinh</td>
                                <td>@Html.ActionLink("Chi tiết", "ProfileById", new { id = a.MaNguoiDung })</td>
                            </tr>
                        }


                    </tbody>
                </table>
            </div>
        </div>
        <div class="card-header py-3">
            @Html.ActionLink("Tạo mới", "Create")
        </div>
    </div>



